üìå Paso 1: Cargar los datos originales

In [2]:
import pandas as pd

# Cargar los datasets
mat_path = '../data_sample/student-mat.csv'
por_path = '../data_sample/student-por.csv'

df_mat = pd.read_csv(mat_path, sep=';')
df_por = pd.read_csv(por_path, sep=';')

print("student-mat:", df_mat.shape)
print("student-por:", df_por.shape)

student-mat: (395, 33)
student-por: (649, 33)

üîÅ Paso 2: Fusionar los datasets

In [3]:
# Columnas clave para hacer merge
merge_cols = ["school", "sex", "age", "address", "famsize", "Pstatus",
              "Medu", "Fedu", "Mjob", "Fjob", "reason", "nursery", "internet"]

# Hacemos merge como en el script R
df_merged = pd.merge(df_mat, df_por, on=merge_cols, suffixes=('_mat', '_por'))

print("Dataset fusionado:", df_merged.shape)
df_merged.head()

Dataset fusionado: (382, 53)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

üìä Paso 3: Inspecci√≥n b√°sica

In [4]:
# Visualizamos las columnas y algunos datos
df_merged.columns.tolist()
df_merged.describe()

,age,Medu,Fedu,traveltime_mat,studytime_mat,failures_mat,famrel_mat,freetime_mat,goout_mat,Dalc_mat,...,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
count,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,...,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000
mean,16.586387,2.806283,2.565445,1.442408,2.034031,0.290576,3.939791,3.222513,3.112565,1.473822,...,3.942408,3.230366,3.117801,1.476440,2.290576,3.575916,3.672775,12.112565,12.238220,12.515707
std,1.173470,1.086381,1.096240,0.695378,0.845798,0.729481,0.921620,0.988233,1.131927,0.886229,...,0.908884,0.985096,1.133710,0.886303,1.282577,1.404248,4.905965,2.556531,2.468341,2.945438
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,5.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,...,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,10.000000,11.000000,11.000000
50%,17.000000,3.000000,3.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,...,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,12.000000,12.000000,13.000000
75%,17.000000,4.000000,4.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,...,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,14.000000,14.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

üíæ Paso 4: Guardar una muestra ligera para GitHub

In [5]:
# Guardamos una muestra de 100 registros aleatorios
sample = df_merged.sample(100, random_state=42)

# Guardar como CSV
sample_path = '../data_sample/student-merged-sample.csv'
sample.to_csv(sample_path, index=False)

print(f"Muestra guardada en: {sample_path}")

Muestra guardada en: ../data_sample/student-merged-sample.csv

üßº Bonus: Limpieza del entorno

In [6]:
del df_mat, df_por